# Virtual Environment
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Database & Environment secrets
.env
*.bak

# Data files (do not push large datasets to GitHub)
data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md

# OS specific files
Thumbs.db
desktop.ini
.DS_Store